
section{
    padding: 2rem 9%;
    background-color: #101728;
}

/* bouton menu burger*/

#menu-btn{
    cursor: pointer;
    font-size:  2.5rem;
    padding: 1rem 1.3rem;
    border-radius: .5rem;
    color: var(--main-color);
    background: var(--bg);
    display: none;
}

#menu-btn:hover{
    color: #fff;
    background: var(--main-color);
}


/*header*/

.header{
    position: fixed;
    top : 0; left :0; right :0;
    z-index: 1000;
    background: var(--bg);
    box-shadow:  var(--box-shadow);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2.5rem 9%;
}

.header .logo{
    font-size: 2.5rem;
    color: #fff;
    font-weight: bolder;
}

.header .logo img{
    width:5%;
    padding-right: 1rem;
}

.header .navbar a{
    font-size: 1.7rem;
    color: white;
    margin-left: 2rem;
}

.header .navbar a:hover{
    color:var(--main-color);
    
}

/*contenu*/

.contain{
    text-align: center;
    color: white;
    text-transform: none; 
    padding-top: 14rem;
    padding-bottom: 14rem;
}
.contain h3{
    font-size: 5rem;
    line-height: 1.8;
    color:var(--main-color);
    text-transform: none;
}

/*footer*/

.footer{
    margin-top: 0.1rem;
    padding-top: 10rem;
    background: var(--bg);
    text-align: center;

}

.footer .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
    gap: 1.5rem;
}

.footer .box-container .box{
    padding-top: 3rem;
}

.footer .box-container .box h3{
    font-size: 2.5rem;
    padding:1rem 0;
    color: var(--main-color);
    padding-bottom: 2rem;
}

.footer .box-container .box p{
    display: block;
    font-size: 1.5rem;
    padding:1rem 0;
    color: white;
}

.footer .box-container .box a{
    display: block;
    font-size: 1.5rem;
    padding:1rem 0;
    color: white;
}

.footer .box-container .box a i{
    padding-right: 3rem;
    color: white;
    
}

.footer .box-container .box a:hover i{
    padding-right: 2rem;
    color: var(--main-color);
}

.footer .log img{
    padding-top: 3rem;
    width:5%;
}

.footer .credit{
    color: white;
    padding: 1rem;
    margin-top: 2rem;
    padding-top: 5rem;
    font-size: 1.5rem;
    text-transform: none;
}


@media (max-width:1116px){

    html{
        font-size: 55%;
    }

    .header{
        padding: 2rem;
    }

    section{
        padding: 2rem;
    }


}

@media (max-width:943px){

    #menu-btn{
        display: initial;
    }

    .header .navbar{
        position: absolute;
        top: 115%; right: 2rem;
        background:var(--bg);
        box-shadow: var(--box-shadow);
        border: var(--border);
        border-radius:  .5rem;
        width: 40rem;
        transform: scale(0);
        transform-origin: top right;
        opacity: 0;
    }

    .header .navbar.active{
        transform: scale(1);
        opacity: 1;
    }

    .header .navbar a{
        font-size: 2rem;
        display: block;
        padding: 1rem;
        margin: 1rem;
        border-radius: .5rem;
    }

    .header .navbar a:hover{
        background: var(--bg);
    }

}

@media (max-width:430px){

    html{
        font-size: 50%;
    }
    .images img{
        width: 300px;
        height: 300px;
    }
}
