.valid2{
    color: white;
}

.valid2:hover{
    color: var(--main-color);
}

.profil{
    text-align: center;
}

p{
    color: white;
    font-size: 1.2rem;
}

.profil .mail{
    color: white;
    font-size: 1.2rem;
}

.profil .avatar{
    color: white;
    font-size: 1.2rem;
}